/* Všeobecné nastavenia */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Tmavé pozadie */
    color: #ffffff; /* Biele písmo */
    margin: 0;
    padding: 0;
    text-align: center; /* Centrovanie celého textu */
}

header h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #00aaff;
}

section {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

section h2, section h3, .large-title {
    color: #00aaff;
}

section h2, section h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.large-title {
    font-size: 2.5em; /* Zvýšená veľkosť pre veľké nadpisy */
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

a img {
    border-radius: 10px;
    margin: 20px 0;
    transition: transform 0.3s;
}

a img:hover {
    transform: scale(1.1);
}
